
body { 
  background:  url(background.gif) no-repeat center center fixed; 
  background-size: cover;
}

body, pre {
  font-family: 'Cookie', cursive;
  

}

div .text {
  margin-left:100px;
  color: #000000;
  background: #f4ef8a;
}

div hr {
  margin-left:100px;
  display: block;
  height: 3px;
  border: 0;
  border-top: 1px solid #4de4ff;
  margin: 1em 0;
  padding: 0; 
}
div.inner{
  margin-left:100px;
  height:3508px
  background: #f4ef8a;

}

p, pre {
  font-size: 300%;
}
s {
  font-size: 400%;
}
m {
  font-size: 500%;
}
l{
  font-size: 600%;
  }
mi {
  font-size: 150%;
}
div .copr {
  color: #000000;
  background: #2dff00;
  margin-left: 100px;
  font-size:'150%';
}

.center {
  text-align: auto;
}

