
body { 
  background:  url(background.gif) no-repeat center center fixed; 
  background-size: cover;
}

body, pre {
  font-family: 'Cookie', cursive;
  
  
  color: 	#f9ff04;

}

div p, m, s, l, mi, hr{
  margin-left:100px;
  color: #000000;
}

div.inner{
  margin-left:100px;
  height:3508px
  background: #f4ef8a;

}

p, pre {
  font-size: 300%;
}
s {
  font-size: 400%;
}
m {
  font-size: 500%;
}
l{
  font-size: 600%;
  }
mi {
  font-size: 150%;
}
ayc .copr {
  
  background: #2dff00;
  margin-left: 100px;
}

.center {
  text-align: auto;
}

